<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>login
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Register</button>
</form>
<div th:if="${success}" th:text="${success}"></div>
<div th:if="${error}" th:text="${error}"></div>
</body>
</html>
